In [36]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [37]:
train = pd.read_csv('/aiffel/data/train.csv')
test = pd.read_csv('/aiffel/data/test.csv')

In [38]:
train.shape, test.shape
display(train.head(2))
display(test.head(2))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,14963583,Room in South Harlem near Central Park,94219511,Gilles,Manhattan,Harlem,40.80167,-73.95781,Private room,70,3,3,2019-01-01,0.09,2,0
1,9458704,"Large 1BR Apartment, near Times Sq (2nd Floor)",49015331,Iradj,Manhattan,Hell's Kitchen,40.76037,-73.99016,Entire home/apt,240,2,64,2019-06-30,1.68,2,262

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,30913224,"Cozy and Sunny Room Williamsburg, Luxury Building",33771081,Rémy,Brooklyn,Williamsburg,40.70959,-73.94652,Private room,3,2,2019-05-08,0.31,1,0
1,971247,Sunny Artist Live/Work Apartment,5308961,Larry,Manhattan,Upper West Side,40.79368,-73.96487,Entire home/apt,3,159,2019-07-03,2.09,1,244

In [39]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39116 entries, 0 to 39115
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              39116 non-null  int64
 1   name                            39104 non-null  object
 2   host_id                         39116 non-null  int64
 3   host_name                       39099 non-null  object
 4   neighbourhood_group             39116 non-null  object
 5   neighbourhood                   39116 non-null  object
 6   latitude                        39116 non-null  float64
 7   longitude                       39116 non-null  float64
 8   room_type                       39116 non-null  object
 9   price                           39116 non-null  int64
 10  minimum_nights                  39116 non-null  int64
 11  number_of_reviews               39116 non-null  int64
 12  last_review                     31122 non-null  object
 13  reviews_per_month               31122 non-null  float64
 14  calculated_host_listings_count  39116 non-null  int64
 15  availability_365                39116 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.8+ MB

In [40]:
train.isnull().sum()

id                                   0
name                                12
host_id                              0
host_name                           17
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       7994
reviews_per_month                 7994
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [41]:
test.isnull().sum()

id                                   0
name                                 4
host_id                              0
host_name                            4
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
minimum_nights                       0
number_of_reviews                    0
last_review                       2058
reviews_per_month                 2058
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [42]:
train = train.drop('last_review', axis=1)
test = test.drop('last_review', axis=1)

In [43]:
train['reviews_per_month'] = train['reviews_per_month'].fillna(0)
test['reviews_per_month'] = test['reviews_per_month'].fillna(0)

In [44]:
train.isnull().sum()

id                                 0
name                              12
host_id                            0
host_name                         17
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [45]:
target = train['price']
train = train.drop('price', axis=1)

In [46]:
cols = [
        'host_id',
        'latitude', 
        'longitude', 
        'minimum_nights',
        'number_of_reviews', 
        'reviews_per_month',
        'calculated_host_listings_count',
        'availability_365'
        ]

train = train[cols]
test = test[cols]

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=2022)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((31292, 8), (7824, 8), (31292,), (7824,))

In [48]:
from sklearn.linear_model import ElasticNet

model = ElasticNet()
model.fit(X_train, y_train)
pred = model.predict(X_val)
mean_squared_error(y_val, pred)

33521.06875602843

In [49]:
from sklearn.linear_model import Lasso

model = Lasso()
model.fit(X_train, y_train)
pred = model.predict(X_val)
mean_squared_error(y_val, pred)

32695.606216284894

In [52]:
# Xgboost
from xgboost import XGBRegressor
model = XGBRegressor(
    max_depth=6,
    learning_rate=0.01, 
    n_estimators=500,
    random_state=2022)

model.fit(X_train, y_train)
pred = model.predict(X_val)
mean_squared_error(y_val, pred)

28340.647575402654

In [53]:
# test 데이터 예측 및 평가
y_test = pd.read_csv('/aiffel/data/y_test.csv')

# Xgboost
pred = model.predict(test)
mean_squared_error(y_test, pred)

47683.75066825965

그리드 서치로 최적 파라미터를 찾아보고 싶었는데   
생각보다 시간이 오래 걸려서 제대로 찾아보지 못하였다(하루종일 걸림...)   
일단은 나름대로 생각을 해봐서 파라미터를 조정해 보았다.
XGBoost를 통해서 값을 낮추는 식으로 진행을 해보았고, 47683 근처의 값을 얻을 수 있었다.   
아래의 코드는 실행해 보려 했던 그리드서치 였는데 너무 오래 걸려서 확인을 할 수 없었다.

In [ ]:
"""
import xgboost as xgb
params = {
    'max_depth': [2, 3],
    'min_samples_split': [2, 3]
}
xgb_model = xgb.XGBClassifier()
xgboost1=GridSearchCV(xgb_model,param_grid=params, cv=3, refit= True)
xgboost1.fit(X_train, y_train)
print(xgboost1.best_params_)
print(xgboost1.best_score_)
"""